.header-container {
  padding: 3rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  padding-top: 50px;
}

.header-text {
  font-size: 6.25rem;
  padding: 0;
  margin: 0;
}

.header-subtitle {
  font-size: 3.25rem;
}
